<section>
    <h2 class="text-center mb-4">My Projects</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/images/choice.png" class="card-img-top" alt="Choice-O-Mat Project Image">
                <div class="card-body">
                    <h3 class="card-title">Choice-O-Mat</h3>
                    <p class="card-text">Choice-O-Mat is a website designed to make it easier to choose between two degree programs. It is an interactive questionnaire that asks questions in a playful way, guiding users to the best-suited degree program for them.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/images/gemeinsam-gut.png" class="card-img-top" alt="Gemeinsam Gut Project Image">
                <div class="card-body">
                    <h3 class="card-title">Gemeinsam Gut</h3>
                    <p class="card-text">An app that brings both the young and the old together to make everyday life easier for the older generation, enhancing joy and building community among each other.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/images/image.png" class="card-img-top" alt="Infinite Dreams Project Image">
                <div class="card-body">
                    <h3 class="card-title">Infinite Dreams</h3>
                    <p class="card-text">A visually striking silent film that tells the story of a young person navigating life alone, exploring the balance between moments of joy and deep melancholy, all without dialogue.</p>
                </div>
            </div>
        </div>
    </div>
</section>
